doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title 
      | Streaming Example!
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    block css
      link(rel='stylesheet', href='/css/style.css')
  body
    block content
    block js
